Source: ayatana-indicator-datetime
Section: misc
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               cmake-extras (>= 0.10),
               dbus,
               debhelper (>= 9),
               dh-systemd | hello,
               intltool,
               libaccounts-glib-dev (>= 1.18),
               libglib2.0-dev (>= 2.35.4),
               libnotify-dev (>= 0.7.6),
               libgstreamer1.0-dev,
               libecal2.0-dev (>= 3.16),
               libical-dev (>= 1.0),
               libedataserver1.2-dev (>= 3.5),
               accountsservice-ubuntu-schemas | hello,
               libproperties-cpp-dev,
# for the test harness:
               libgtest-dev <!nocheck>,
               libdbustest1-dev <!nocheck>,
               dbus-test-runner <!nocheck>,
               python3-dbusmock <!nocheck>,
# for 12h/24h locale unit tests:
               locales <!nocheck>,
# for running live EDS tests:
               evolution-data-server <!nocheck>,
               gvfs-daemons <!nocheck>,
               systemd [linux-any],
# for phone alarm/calendar notification sound tests:
               ubuntu-touch-sounds | hello,
Standards-Version: 4.1.3
Homepage: https://github.com/ArcticaProject/ayatana-indicator-datetime
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git/

Package: ayatana-indicator-datetime
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ayatana-indicator-common,
         libglib2.0-bin,
Recommends: indicator-applet | mate-indicator-applet | xfce4-indicator-plugin | indicator-renderer,
            evolution-data-server,
            geoclue-provider,
Breaks: indicator-datetime,
Replaces: indicator-datetime,
Description: Ayatana Indicator providing clock and calendar
 This Ayatana Indicator provides a combined calendar, clock, alarm and
 event management tool.
 .
 On Ubuntu systems, this Indicator supports phone devices based on
 Ubuntu. On non-Ubuntu systems, the phone support has been disabled at
 build-time.
