Source: ayatana-indicator-datetime
Section: misc
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               cmake-extras (>= 0.10),
               dbus,
               debhelper-compat (= 12),
               intltool,
               libaccounts-glib-dev (>= 1.18),
               libayatana-common-dev (>= 0.9.3),
               libglib2.0-dev (>= 2.35.4),
               libnotify-dev (>= 0.7.6),
               libgstreamer1.0-dev,
               libmessaging-menu-dev,
               uuid-dev,
# for EDS data storage backend
               libecal2.0-dev (>= 3.16),
               libical-dev (>= 1.0),
               libedataserver1.2-dev (>= 3.5),
# for mkcal data storage backend
               libkf5calendarcore-dev,
               libmkcal-qt5-dev,
# more Lomiri features
               extra-cmake-modules,
               lomiri-schemas,
               lomiri-sounds,
               libproperties-cpp-dev,
               liblomiri-url-dispatcher-dev,
# for the test harness:
               libgtest-dev <!nocheck>,
               libdbustest1-dev <!nocheck>,
               dbus-test-runner <!nocheck>,
               python3-dbusmock <!nocheck>,
# for 12h/24h locale unit tests:
               locales <!nocheck>,
# for running live EDS tests:
               evolution-data-server <!nocheck>,
               gvfs-daemons <!nocheck>,
               systemd-dev [linux-any],
# for running live mkcal tests:
               mkcal-bin <!nocheck>,
# for phone alarm/calendar notification sound tests:
               lomiri-sounds | hello,
# tests that require the org.ayatana.common GSchema
               ayatana-indicator-common,
Standards-Version: 4.1.3
Homepage: https://github.com/ArcticaProject/ayatana-indicator-datetime
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git/

Package: ayatana-indicator-datetime
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ayatana-indicator-common,
         ayatana-indicator-datetime-common (>= ${source:Version}),
         libglib2.0-bin,
Recommends: indicator-applet | mate-indicator-applet | xfce4-indicator-plugin | indicator-renderer,
            evolution-data-server,
            geoclue-provider,
Breaks: indicator-datetime,
Replaces: indicator-datetime,
Description: Ayatana Indicator providing clock and calendar
 This Ayatana Indicator provides a combined calendar, clock, alarm and
 event management tool.
 .
 This variant of the datetime indicator is to be used for non-Lomiri
 operating environments such as MATE, Xfce, etc.
 .
 This variant of the datetime indicator has been built for using
 evolution-data-server as ICS data storage backend.

Package: lomiri-indicator-datetime
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ayatana-indicator-common,
         ayatana-indicator-datetime-common (>= ${source:Version}),
         libglib2.0-bin,
Recommends: geoclue-provider,
            mkcal-bin,
Suggests: lomiri,
Breaks: indicator-datetime,
Replaces: indicator-datetime,
Description: Lomiri Indicator providing clock and calendar
 This Lomiri Indicator provides a combined calendar, clock, alarm and
 event management tool.
 .
 This variant of the datetime indicator is targetted for being used on
 Lomiri, this indicator supports phone devices.
 .
 This variant of the datetime indicator has been built for using
 evolution-data-server as ICS data storage backend.

Package: ayatana-indicator-datetime-common
Architecture: any
Depends: ${misc:Depends},
Breaks: ayatana-indicator-datetime (<< 25.4.0),
Replaces: ayatana-indicator-datetime (<< 25.4.0),
Description: Common files used by both Ayatana/Lomiri Indicator Datetime variants
 Ayatana / Lomiri Indicator Datetime are two variants of the Ayatana
 Datetime Indicator built for different use cases. They provide a
 combined calendar, clock, alarm and event management tool for common
 desktop environments and for the Lomiri operating environment.
 .
 This package contains files used by both variants.
