Source: ayatana-indicator-datetime
Section: misc
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               dbus,
               debhelper (>= 9), 
               libglib2.0-dev (>= 2.35.4),
               libnotify-dev (>= 0.7.6),
               libgstreamer1.0-dev,
               libecal1.2-dev (>= 3.16),
               libical-dev (>= 1.0),
               libedataserver1.2-dev (>= 3.5),
               liburl-dispatcher1-dev,
               libproperties-cpp-dev,
# for the test harness:
               libgtest-dev,
               libdbustest1-dev,
               dbus-test-runner,
               python3-dbusmock,
# for 12h/24h locale unit tests:
               locales,
# for running live EDS tests:
               evolution-data-server,
               gvfs-daemons,
Standards-Version: 3.9.6
Homepage: https://github.com/ArcticaProject/ayatana-indicator-datetime
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-datetime.git/

Package: ayatana-indicator-datetime
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         systemd-services,
         systemd-shim,
         libglib2.0-bin,
Recommends: indicator-applet | indicator-renderer,
            evolution-data-server,
            geoclue-provider,
Description: Simple clock
 A simple clock appearing in the indicator bar
