#!/usr/bin/make -f

NULL =

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --builddirectory=lomiri-variant --	\
		-DENABLE_COVERAGE=OFF				\
		-DENABLE_LOMIRI_FEATURES=ON			\
		-DENABLE_MKCAL=ON				\
		-DENABLE_TESTS=$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),OFF,ON) \
		$(NULL)
	dh_auto_configure --builddirectory=ayatana-variant --	\
		-DENABLE_COVERAGE=OFF				\
		-DENABLE_LOMIRI_FEATURES=OFF			\
		-DENABLE_MKCAL=OFF				\
		-DENABLE_TESTS=$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),OFF,ON) \
		$(NULL)

override_dh_auto_build:
	dh_auto_build --builddirectory=lomiri-variant
	dh_auto_build --builddirectory=ayatana-variant

override_dh_auto_test:
	dh_auto_test --builddirectory=lomiri-variant
	dh_auto_test --builddirectory=ayatana-variant

override_dh_auto_install:
	dh_auto_install --builddirectory=lomiri-variant
	dh_auto_install --builddirectory=ayatana-variant

override_dh_auto_clean:
	dh_auto_clean --builddirectory=lomiri-variant
	dh_auto_clean --builddirectory=ayatana-variant

override_dh_installchangelogs:
	dh_installchangelogs NEWS

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
